@page "/categories"
@using AdminFrontEnd.Models
@using System.Text.Json
@using System.Text.Json.Serialization;
@using System.Linq
@inject MonitoringAPIClient API

<h1>Current Categories</h1>

<p><a href="url">Add new Category</a></p>

@if (merch == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>

            
            @foreach (var item in merch)
            {

                if (item.Category != "string")
                {
                     <tr>
                         <td>@item.Category</td>
                         <td><a href="url">Edit</a></td>
                         <td> <a href="url">Delete</a></td>

                       </tr>
                }
            }
        </tbody>
    </table>
}
<button class="btn btn-primary" @onclick="GetMerchandise">Get Categories</button>

@code {

    private IEnumerable<MerchandiseFilter> merch;
    private IEnumerable<Session> sessions;

    protected async Task GetMerchandise()
    {
        merch = await API.GetMerchandiseFilter();

        StateHasChanged();
    }
}


