@page "/categories"
@using AdminFrontEnd.Models
@using System.Text.Json
@using System.Text.Json.Serialization;
@using System.Linq
@inject MonitoringAPIClient API

<h1>Current Categories</h1>
<button class="btn btn-primary" @onclick="GetMerchandise">Get Current Catogories</button>  
@if (merch == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in categories)
            {
            <tr>
                <td>@item</td>
                <td><button class="btn btn-danger" @onclick="() => DeleteClick(item)"> Delete @item Category </button></td>               
                <td></td>
            </tr>
                
            }
        </tbody>
    </table>
}


@code {

    private IEnumerable<MerchandiseFilter> merch;
    private IEnumerable<Session> sessions;
    private IEnumerable<string> categories;

    protected async Task GetMerchandise()
    {
        merch = await API.GetMerchandiseFilter();
        StateHasChanged();
    }

    protected override async void OnInitialized()
    {
        categories = await API.GetDistinctCategories();
        StateHasChanged();
    }

    protected async Task DeleteClick(string item)
    { 
        await API.DeleteCategory(item);
        StateHasChanged();
    }

}

