@page "/users"

    <h1>User Accounts</h1>
    <p><a href="url">Add User</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>UsernameGoesHere</td>
                <td>EmailGoesHere</td>
                <td>RoleGoesHere</td>
                <td><a href="url">Edit</a></td>
                <td> <a href="url">Delete</a></td>

            </tr>
        </tbody>
    </table>


